/*
меняет строку поиска с права в углу (внешку)
*/
.iconContainer_effbe2,
.icon_effbe2 {
    /* Make the Search icon match the styling of the other icons.*/
    width: 21px;
    height: 21px;
    color: var(--interactive-normal);
    transition: ease-in-out 0.3s;
}

.searchBar_a46bef {
    /*Полностью скрываем строку поиска*/
    width: 21px;
    height: 24px;
    padding: 0;
    background: none;
    transition: ease-in-out 0.3s !important;
}

.searchBar_a46bef:hover .iconContainer_effbe2,
.searchBar_a46bef:hover .icon_effbe2,
.focused_a46bef .icon_effbe2,
.focused_a46bef .iconContainer_effbe2 {
    /*Скрываем иконку поиска при наведении*/
    opacity: 0;
    width: 0;
    height: 0;
}
.searchBar_a46bef:hover,
.focused_a46bef .searchBar_a46bef,
.open_a46bef .searchBar_a46bef {
    /*Показываем строку поиска при наведении на иконку*/
    width: 175px;
    background: var(--background-tertiary);
}

/* Иконка Скрыть список участников (сверху справа), задаем цвет как будто она не открыта*/
.selected_fc4f04 .icon_fc4f04 {
    color: var(--interactive-normal) !important;
}
