/*
убирает лишние
*/
button[aria-label="Начать активность"],
button[aria-label="Камера недоступна"],
button[aria-label="Шумоподавление с помощью Krisp"],
[role="button"][aria-label="Показать профиль пользователя (недоступно)"],
[role="button"][aria-label="Показать профиль пользователя"],
[role="button"][aria-label="Почта"],
[role="button"][aria-label="Помощь"],
div:has(> button[aria-label="Открыть звуковую панель"]),
div:not(.actionButtons_adcaac):has(> span[class*="disabledButtonWrapper_"]),
span[class*="disabledButtonWrapper_dd4f85"],
[role="button"][aria-label="Начать видеозвонок"],
button[aria-label="Отправить подарок"],
div:has(> button[aria-label="Открыть меню GIF"]),
div:has(> button[aria-label="Открыть меню выбора стикеров"]),
button[aria-label="Розпочати дію"],
button[aria-label="Поглинання шуму від Krisp"],
[role="button"][aria-label="Показати профіль користувача (недоступно)"],
[role="button"][aria-label="Показати профіль користувача"],
[role="button"][aria-label="Вхідні"],
[role="button"][aria-label="Довідка"],
div:has(> button[aria-label="Відкрити звукову панель"]),
[role="button"][aria-label="Розпочати відеовиклик"],
button[aria-label="Надіслати подарунок"],
div:has(> button[aria-label="Відкрити програму вибору GIF"]),
div:has(> button[aria-label="Відкрити програму вибору стікерів"]),
button[aria-label="Start An Activity"] {
    display: none;
}

/* убирает нитро и магаз */
.channel_c91bad .linkButton_c91bad > .link_c91bad[href="/shop"],
.channel_c91bad .linkButton_c91bad > .link_c91bad[href="/store"] {
    display: none;
}

.buttonContainer_b6e2f9 {
    display: none;
}

.controlButton_b6e2f9.fauxDisabled_f4a830.contextMenuContainer_ef18ee {
    display: none;
}

.scroller_fea3ef > .listItem_c96c45 > .listItemWrapper_dfb2f8 {
    display: none;
}

.children_fc4f04 > .akaBadge__27cd4,
.children_fc4f04 > .nicknames__12efb,
.children_fc4f04 > .divider_fc4f04 {
    display: none;
}

.bd-switch-symbol,
.slider_cebd1c > svg {
    display: none;
}

/* Реклама нитро при выборе качества демки */
.gradientBackground-MytxDL {
    display: none;
}

/* Иллюстрация при включении демки */
.art-1TvEXv,
.modalCloseButton-3jqiBN {
    display: none;
}

/* 'В эфире' на демках */
.indicators_ba4b17 {
    display: none;
}

/* Слева снизу в футере кнопку "Путешествие" */
.footer_aa1bff {
    display: none;
}

/* Комманды справа от поля куда писать сообщения */
.channelAppLauncher_df39bd {
    display: none;
}
